html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-style: normal;
	box-sizing: border-box;
}

ul,
li,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	display: inline-block;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	display: block;
	*zoom: 1;
}

.clear:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}

@-webkit-keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.load {
	border-radius: 50%;
	font-size: 11px;
	text-indent: -99999em;
	margin: 20px auto;
	position: relative;
	width: 8em;
	height: 8em;
	box-shadow: inset 0 0 0 1em red;
}

.load:before,
.load:after {
	border-radius: 50%;
	position: absolute;
	content: '';
	width: 4.2em;
	height: 8.2em;
	background: #fff;
	border-radius: 0;
}

.load:before {
	border-radius: 8.2em 0 0 8.2em;
	top: -0.1em;
	left: -0.1em;
	-webkit-transform-origin: 4.2em 4.1em;
	transform-origin: 4.2em 4.1em;
	-webkit-animation: load2 2s infinite ease 1.5s;
	animation: load2 2s infinite ease 1.5s;
}

.load:after {
	border-radius: 0 8.2em 8.2em 0;
	top: -0.1em;
	left: 4.1em;
	-webkit-transform-origin: 0 4.1em;
	transform-origin: 0 4.1em;
	-webkit-animation: load2 2s infinite ease;
	animation: load2 2s infinite ease;
}
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.add_box {
	width: 100vw;
	height: 100vh;
	background: url(../images/bj.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.add_box .zhe{
	display: none;
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background: #ccc;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;
	z-index: 999999;
}
.add_box h2{
	color: #fff;
	font-weight:bold;
	margin-top: 50px;
	margin-left: 220px;
	z-index: 999999999;
}
.add_con {
	width: 1000px;
	height: 600px;
	background: linear-gradient(to bottom, #20272d, #1a3f38);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -300px;
	border: 1px solid #394144;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(2, 13, 15, .5), -2px -2px 5px rgba(2, 13, 15, .5);
	overflow: hidden;
}
.add_con .btn{
	width: 1000px;
	height: 50px;
	position: relative;
}
.add_con .btn a{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -20px;
	display: block;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	background: #07bc3b;
}
.add_con_add{
	width: 1000px;
	height: 500px;
	position: relative;
}
.add_con_add .add_one{
	width: 120px;
	height: 500px;
	overflow: hidden;
}
.add_con_add .add_two{
	width: 300px;
	overflow: hidden;
	height: 500px;
}
.add_con_add .add_three{
	width: 120px;
	height: 500px;
	overflow: hidden;
}
.add_con_add .add_four{
	width: 300px;
	height: 500px;
	overflow: hidden;
}
.add_con_add ul.add_name li{
	margin-top: 30px;
	line-height: 55px;
}
.add_con_add .add_name li .xin{
	padding-right: 5px;
	font-size: 16px;
	color: #fff;
	float: right;
}
.add_con_add .add_name li .xin b {
	padding: 0 5px;
	color: #cf5c5c;
}
.add_con_add .add_input{
	margin-top: 32px;
}
.add_con_add .add_input li {
	line-height: 55px;
}
.add_con_add .add_input li .input{
	text-indent: 5px;
	width: 224px;
	height: 36px;
	border-radius: 5px;
	border: 2px solid #587d6b;
	background: none;
	color: #fff;
	margin-left: 35px;
}
.add_con_add .add_input li .div1{
	margin-left: 32px;
	overflow: hidden;
}
.add_con_add .add_input li .div1 .input1{
	width: 14px;
	height: 14px;
	margin-top: 20px;
}
.add_con_add .add_input li .div1 span{
	display: block;
	margin-top: 0px;
	color: #fff;
	margin-left: 10px;
}
.add_con_add .add_input li .div2{
	margin-left: 12px;
	overflow: hidden;
}
.add_con_add .add_input li .div2 .input1{
	width: 14px;
	height: 14px;
	margin-top: 20px;
}
.add_con_add .add_input li .div2 span{
	display: block;
	margin-top: 0px;
	color: #fff;
	margin-left: 10px;
}
.add_con_add .add_img{
	width: 200px;
	height: 500px;
	position: absolute;
	top: 0;
	right: 0;
}
.add_con_add .add_img .img_add{
	width: 100px;
	height: 100px;
	border: 1px solid  #fff;
	border-radius: 50%;
   margin-left: 50px;
   margin-top: 130px;
   overflow: hidden;
}
.add_con_add .add_img .img_add img{
	width: 100%;
	height: 100%;
}
.add_con_add .add_img p{
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}















