html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-style: normal;
	box-sizing: border-box;
}

ul,
li,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

img {
	display: inline-block;
}

.clear {
	display: block;
	*zoom: 1;
}

.clear:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}

@-webkit-keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.load {
	border-radius: 50%;
	font-size: 11px;
	text-indent: -99999em;
	margin: 20px auto;
	position: relative;
	width: 8em;
	height: 8em;
	box-shadow: inset 0 0 0 1em red;
}

.load:before,
.load:after {
	border-radius: 50%;
	position: absolute;
	content: '';
	width: 4.2em;
	height: 8.2em;
	background: #fff;
	border-radius: 0;
}

.load:before {
	border-radius: 8.2em 0 0 8.2em;
	top: -0.1em;
	left: -0.1em;
	-webkit-transform-origin: 4.2em 4.1em;
	transform-origin: 4.2em 4.1em;
	-webkit-animation: load2 2s infinite ease 1.5s;
	animation: load2 2s infinite ease 1.5s;
}

.load:after {
	border-radius: 0 8.2em 8.2em 0;
	top: -0.1em;
	left: 4.1em;
	-webkit-transform-origin: 0 4.1em;
	transform-origin: 0 4.1em;
	-webkit-animation: load2 2s infinite ease;
	animation: load2 2s infinite ease;
}


.yrkbox{
	width: 100vw;
	height: 100vh;
	background: url(../images/bj.jpg) no-repeat;
	background-size: cover;
}
.yrkbox .zhee{
	display: none;
	width: 250px;
	height: 150px;
	border-radius: 10px;
	background: #ccc;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;
	z-index: 999999;
	overflow: hidden;
}
.yrkbox .zhee p{
	text-align: center;
	margin-top: -5px;
	color: red;
	font-size: 16px;
}
.yrkbox .zhee button{
	width: 54px;
	height: 29px;
	background: #37be57;
	border: 1px solid #37be57;
	border-radius: 5px;
	text-align: center;line-height: 22px;
	color: #fff;
	margin-left: 48px;
	outline: none;
}

.yrkbox .zheee{
	display: none;
	width: 250px;
	height: 150px;
	border-radius: 10px;
	background: #ccc;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;
	z-index: 999999;
	overflow: hidden;
}
.yrkbox .zheee p{
	text-align: center;
	margin-top: -5px;
	color: red;
	font-size: 16px;
}
.yrkbox .zheee button{
	width: 54px;
	height: 29px;
	background: #37be57;
	border: 1px solid #37be57;
	border-radius: 5px;
	text-align: center;line-height: 22px;
	color: #fff;
	margin-left: 48px;
	outline: none;
}

.yrkbox .zhezhao{
	display: none;
	width: 200px;
	height: 100px;
	border-radius: 10px;
	background: #ccc;
	text-align: center;
	line-height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;
	z-index: 999999;
}
.yrkbox_top{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #37be57;
}
.yrkbox_nav{
	width: 1000px;
	height: 38px;
	margin: 0 auto;
}
.yrkbox_nav_left{
	width: 50%;
	height: 38px;
	float: left;
}
.yrkbox_nav_left p{
	float: left;
	line-height: 40px;
	margin-left: 2%;
	color: #37be57;
}
.yrkbox_nav_left p a{
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}
.yrkbox_nav_left img{
	float: left;
	margin-top: 10px;
	padding-left: 10px;
}

.yrkbox_nav_right{
	width: 50%;
	height: 38px;
	position: relative;
	top: 0;
	left: 0;
	float: right;
}
.yrkbox_nav_right .upload{
	width: 30px;
  height: 30px;
  background: #d0ede9;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 42%;
  overflow: hidden;
}
.yrkbox_nav_right .upload input {
  display: none;
}
.yrkbox_nav_right .upload .image img {
  width: 100%;
  height: 100%;
}
.yrkbox_nav_right_b{
	width: 250px;
	height: 38px;
	float: right;
}
.yrkbox_nav_right_b span{
	color: #37be57;
}
.yrkbox_nav_right_b span a{
	color: #fff;
}
.yrkbox_nav_right_b span:nth-child(1){
	height: 20px;
	line-height: 40px;
	text-align: center;
}
.yrkbox_nav_right_b span:nth-child(2){
	width: 80px;
	height: 20px;
	margin-top: 10px;
	text-align: center;
	margin-left: 5px;
}
.yrkbox_nav_right_b span:nth-child(2) a{
	color: #37be57;
}
.yrkbox_nav_right_b span:nth-child(2) a:hover{
	color: #b8251b;
}
.yrkbox_nav_right_b span:nth-child(3){
	width: 80px;
	height: 20px;
	margin-top: 10px;
	text-align: center;
}
.yrkbox_nav_right_b span:nth-child(3) a{
	color: #37be57;
}
.yrkbox_nav_right_b span:nth-child(3) a:hover{
	color: #b8251b;
}

/*yrkbox_top结束*/
.yrkbox_bottom{
	width: 1000px;
	height: 500px;
	background: linear-gradient(to bottom,#20272d,#1a3f38);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -250px;
	border: 1px solid #394144;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(2,13,15,.5),
	            -2px -2px 5px rgba(2,13,15,.5);
	overflow: hidden;
}
.yrkbox_bottom_left{
	width: 25%;
	height: 500px;
	float: left;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.yrkbox_bottom_left_g{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.yrkbox_bottom_left_g p{
	float: left;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 60px;
	color: #fff;
}
.yrkbox_bottom_left_g img{
	float: left;
	padding-top: 18px;
}
.yrk_lower{
	height: 410px;
	width: 100%;
	overflow-y: auto;
}
.yrk_lower li p{
	float: left;
	cursor: pointer;
	list-style: none;
	text-align: center;
	width: 185px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	background: #eee;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}
.yrk_lower li span{
	display: block;
	float: left;
	height: 40px;
	text-align: center;
	line-height: 40px;
	width: 47px;
	color: red;
	background: #eee;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
#yrkUl li:hover{
	background: green;
	color:#37be57
}

.add_class{
	width: 100%;
	height: 40px;
}
.add_class input{
	width: 163px;
	height: 41px;
	background: none;
	text-indent: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #fff;
	border: 2px solid #587d6b;
}
.add_class button{
	width: 68px;
	height: 41px;
	background: #37be57;
	border: 1px solid #37be57;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	outline: none;
}






.yrkbox_bottom_right{
	width: 74%;
	height: 500px;
	float: right;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.yrkbox_bottom_right_t{
	width: 100%;
	height: 39px;
	border-bottom: 1px dashed #00B7FF;
}
.yrkbox_bottom_right_t p{
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.yrkbox_bottom_right_c{
	width: 100%;
	height: 44px;
	position: relative;
	top: 0;
	left: 0;
}
.yrkbox_bottom_right_c input{
	width: 500px;
	height: 30px;
	box-shadow: 0 0 2px 0px;
	text-indent: 10px;
	position: absolute;
	top: 6px;
	left: 8%;
}
.yrkbox_bottom_right_c .ss{
	width: 80px;
	height: 30px;
	background: #37be57;
	color: #fff;
	border: 1px solid #37be57;
	position: absolute;
	top: 6px;
	right: 24%;
	outline: none;
}
.yrkbox_bottom_right_c .add{
	width: 80px;
	height: 30px;
	background: #37be57;
	color: #fff;
	border: 1px solid #37be57;
	position: absolute;
	top: 6px;
	right: 8%;
}
.yrkbox_bottom_right_f{
	width: 99%;
	height: 363px;
	overflow: auto;
	-border: 1px solid #fff;
}
.yrkbox_bottom_right_f table tr th{
	width: 130px;
	text-align: center;
	color: #fff;
	height: 40px;
}
.yrkbox_bottom_right_f table {
	border: 1px solid #fff;
}
.yrkbox_bottom_right_f table tr td{
	width: 130px;
	text-align: center;
	color: #fff;
	height: 40px;
}

.yrkbox_bottom_right_f table td button{
	width: 54px;
	height: 22px;
	background: #37be57;
	border: 1px solid #37be57;
	border-radius: 5px;
	margin-left: 6px;
	outline: none;
}
.yrkbox_bottom_right_g{
	width: 99%;
	height: 60px;
}
.yrkbox_bottom_right_g_left{
	width: 200px;
	height: 60px;
}
.yrkbox_bottom_right_g_left p{
	color: #fff;
	font-size: 14px;
	line-height: 60px;
	margin-left: 30px;
}
.yrkbox_bottom_right_g_left p span{
	color: red;
}
.yrkbox_bottom_right_g_right{
	width: 300px;
	height: 60px;
}
.yrkbox_bottom_right_g_right p{
	color: #fff;
	font-size: 14px;
	line-height: 60px;
	margin-left: 20px;
	cursor: pointer;
	
}
.yrkbox_bottom_right_g_right p span{
	color: red;
}
