
    <div class="nav" ng-controller="guizeCtrl">
    	<ul>
    		<li><a ui-sref="xuesheng">首页</a></li>
    		<li><a href="" class="btn">规则</a></li>
    		<li><a ui-sref="login">退出登录</a></li>
    	</ul>

<div class="m_div">
	 <header>
	 	实训阶段综合积分评定标准
	 </header>
	 <section>
	 <div class="main">
	  <h3>一.规定评分规范及积分标准</h3>	
	  <div class="zi">
	  	<p>1.不出早操</p>
	  	<span>-5</span>
	  </div>
	   <div class="zi">
	  <p>2.迟到、早退</p>
	  <span>-3</span>
	  </div>
	   <div class="zi">
	  <p>3.旷课</p>
	  <span>-5/课</span>
	  </div>
	   <div class="zi">
	  <p>4.玩游戏</p>
	  <span>-5</span>
	  </div>
	   <div class="zi">
	  <p>5.玩手机</p>
	  <span>-5</span>
	  </div>
	   <div class="zi">
	  <p>6.看小说</p>
	  <span>-5</span>
	  </div>
	   <div class="zi">
	  <p>7.睡觉</p>
	  <span>-2</span>
	  </div>
	   <div class="zi">
	  <p>8.自习课期间随意走动</p>
	  <span>-3</span>
	  </div>
	   <div class="zi">
	  <p>9.穿着工装（视天气而定，白衬衫或黑工装）</p>
	  <span>-5</span>
	  </div>
	   <h3>二.处罚方法</h3>	
	  <div class="zi2">
	  	<p>1.所有老师都有权利对违纪学生下处罚单</p>
	  <p>2.积分80分以上为升班标准，如当月低于80分的人数超过班级人数的30%，咋采用末尾淘汰（人数为班级人数的30%，向上取整，如5.3=6人）</p>
	  </div>
	<h3>三.班级评比</h3>	
	  <div class="zi3">
	  	<p>1.计算班级的平均分，一周为评比单位</p>
	  <p>2.周一公布上周评比结果，分数最高的班级颁发流动红旗</p>	 
	  </div>
	    </div>
</div>	 
	 </section>
	     </div>
