<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生管理系统</title>
	<!-- <link rel="stylesheet" type="text/css" href="styles/index.css"> -->
</head>
<body>
<div class="div">
<!-- 头部开始 -->
	<div class="m_header" ng-controller="shouyeCtrl">
			<div class="m_logo">
				欢迎登录学生管理系统
			</div>
			<div class="m_sousuo">
			<input type="text" placeholder="请输入关键字" value="" class="sousuo"><button id="sousuo" v>搜索</button>
			</div>
			<div class="m_nav">
				<ul>
					<li>班级:<span>1604a</span></li>
					<li>姓名:<span>马瑞雪</span></li>
					<li><a href="guize.html" style="color:red">规则</a></li>
					<li><a href="">退出登录</a></li>
				</ul>
			</div>
	
	</header>
<!-- 头部结束 -->
<!-- 主体部分开始 -->
      <div class="m_section">
			   <!-- 列表展示部分 -->
			  <table id="main"cellpadding="0" cellspacing="0">
			      <tr height="35px">
				  		<td>姓名</td>
				  		<td>班级</td>
				  		<td>性别</td>
				  		<td>手机号</td>
				  		<td>家庭住址</td>
				  		<td>班主任姓名</td>
				  		<td>授课老师</td>
				  		<td>家长姓名</td>
				  		<td>家长电话</td>
				  		<td>宿舍号</td>
				  		<td>实训阶段</td>
				  		<td>分数</td>
				  		<td>违纪情况</td>
				  		<td>违纪时间</td>
				  		<td>周考成绩</td>
				  		<td>月考成绩</td>
				  		</tr>
				  </table>
      </div>
<!-- 主体部分结束 -->
</div>
</td>
<script>
</script>
</body>
</html>