<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../styles/yrkye.css"/>
		<script src="../scripts/controllers/yrkye.js" type="text/javascript" charset="utf-8"></script>
		<script src="../scripts/controllers/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="yrkbox">
			<div class="yrkbox_conter">
				<div class="yrk_small_nav">
					<div class="yrk_small_nav_left">
						<p class="p1">欢迎<a href="#" id="Controller">456</a>登录</p>
						<img src="../images/1.gif"/>
					</div>
					
					<nav class="nav">
						<ul>
							<div class="left">
								<input type="file" id="file"/>
								<div class="box">
									<div class="image"><img src="../images/sara__4.jpg"/></div>
								</div>
							</div>
							<li style="width: 150px;">管理者：<a href="#" id="Controller">456</a></li>
							<li style="border-right:none;"><a ui-sref="login">退出</a></li>
						</ul>
					</nav>
				</div>
				<!--yrk_small_nav结束-->
			</div>
			<!--yrkbox_conter结束-->
			
				<div class="yrk_small">
					<div class="yrk_small_left">
						<ul>
							<div>
								<p>个人管理</p>
								<img src="../images/setup.png"/>
							</div>
							<li><a href="#">班级</a></li>
							<li><input type="radio" name="class" id="first" />1604A</li>
							<li><input type="radio" name="class" id="second" />1604B</li>
						</ul>
					</div>
					<div class="yrk_small_right">
						<div class="yrk_small_right_xue">
							<p>学生信息</p>
						</div>
						<div class="yrk_small_right_bottom">
							<div class="yrk_small_right_top">
								<input type="text" name="" id="" placeholder="请输入要搜索的内容" />
								<button class="ss">搜索</button>
							</div>
							<table border="" cellspacing="" cellpadding="">
								<tr>
									<th>姓名 </th>
									<th>班级</th>
									<th>性别</th>
									<th>手机号</th>
									<th style="width: 240px;">编辑</th>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>
										<button class="add">添加</button>
										<button>修改</button>
										<button>详情</button>
										<button>删除</button>
										
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!--yrk_small结束-->
		</div>
		
	</body>
	<script type="text/javascript">
			$(function(){
				
				$(".image").addEventListener("click", function(){
				$("#file").click();
				$("#file").addEventListener("change", function(){
					var files = this.files[0],//加载处理图片
						fileObj = new FileReader();
					fileObj.readAsDataURL(files);
					fileObj.onload = function() {
						$(".image").innerHTML = "<img src ='" + this.result + "'/>";
					}
				}, false)
			}, false)
					
			//列表
			$.ajax({
				type:"get",
				url:"http://localhost:3560/list/list",
				async:true,
				success:function(data){
					
					
				},
				error:function(){
					alert('链接失败')
				}
			});
			
					
			})
		
		
		</script>
</html>
